@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --bg-color: #fff;
  --main-color: #0a846e;
  --accent-color: #9e6d52;
  --btn-card: #b93857;
  --btn-card-hover: #941533;
  --font-color: black;
  --font-secondary-color: #fff;
  --font-faded-color: #555;
  --font-nav-color: #055647;
  --hover-color: #075f4f;
  --body-color: #fcf6fc;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow-alt-color: rgba(182, 178, 130, 0.2);

  --maven-pro-font: "Maven Pro", sans-serif;
  --open-sans-font: "Open Sans", sans-serif;
  --lato-font: "Lato", sans-serif;
  --inter-font: "Inter", sans-serif;
}

/* CSS Resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Defaults */
html {
  scroll-behavior: smooth;
  scrollbar-color: var(--main-color) #e7e7e7;
}

body {
  font-style: normal;
  font-family: var(--open-sans-font);
  color: var(--font-color);
  background-color: var(--body-color);
}

.wrapper {
  box-shadow: 0 0 6px var(--shadow-color);
  background-color: var(--bg-color);
  margin: 0 auto;
}

.nav-link,
main h1,
.outro-title,
.phone,
.mail {
  font-family: var(--maven-pro-font);
  color: var(--main-color);
  font-weight: 600;
}

button {
  background-color: var(--main-color);
  color: var(--font-secondary-color);
  font-weight: bold;
  font-family: var(--open-sans-font);
  font-size: 1rem;
  padding: 0.5rem 1.4rem;
  border-radius: 8px;
  border: none;
  box-shadow: 0 6px 8px var(--shadow-color);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: var(--hover-color);
  }
}

.circle-bg {
  border-radius: 50%;
  padding: 4rem;
  background-color: var(--main-color);
  transform: scale(0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Utility */
.max-width {
  max-width: 1000px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.content-padding {
  padding: 2rem 0.5rem;
}

/* ########## index.html ########## */

/* Header */
header {
  position: relative;
  width: 100%;
  box-shadow: 0 4px 4px 0 var(--shadow-color);
}

/* Header > grid with images */
.hero {
  grid-template-areas:
    "hero   hero   hero   hero   hero   hero  "
    "hero   hero   hero   hero   hero   hero  "
    "brand1 brand1 brand1 brand2 brand2 brand2";
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;

  .hero__img--logo {
    grid-area: hero;
    background-image: url("assets/hand_holding_seedlings.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }
  }

  :is(.hero__img--plant, .hero__img--shovel) img {
    width: clamp(50%, 90%, 100%);
    padding: 1rem;
  }

  :is(.hero__img--plant, .hero__img--shovel) {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .hero__img--plant {
    background-color: var(--accent-color);
    grid-area: brand1;
  }

  .hero__img--shovel {
    background-color: var(--main-color);
    grid-area: brand2;
  }
}

/* Header > Nav */
.nav {
  
  #sidebar-toggle {
    display: none;
  }

  #sidebar-toggle:checked ~ .nav__links {
    top: 0;

    .nav__link {
      transform: translateY(0);
      opacity: 1;
    }
  }

  #sidebar-toggle:checked ~ .sidebar-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 8;
  }

  .nav__burger-menu {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 0.5rem;

    > img {
      width: 3rem;
    }
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -100%;
    z-index: 9;
    width: 100%;

    box-shadow: 0 4px 4px 0 var(--shadow-color);

    justify-content: space-around;
    background-color: var(--bg-color);

    transition: all 0.8s;

    .nav__link {
      padding: 1rem 1.5rem;
      flex: 1;
      text-align: center;
      color: var(--font-nav-color);
      text-decoration: none;
      font-weight: 600;
      font-family: var(--maven-pro-font);
      font-size: 1.25rem;
      opacity: 0;

      transform: translateY(-500%);

      &:hover {
        background-color: var(--hover-color);
        color: var(--font-secondary-color);
      }
      
      &:not(:last-child) {
        border-bottom: 2px solid var(--shadow-alt-color);
      }

      &:nth-of-type(1) {
        transition: transform 0.6s 1s,
                    opacity 1s 1s,
                    background-color 0.3s,
                    color 0.3s;
      }
  
      &:nth-of-type(2) {
        transition: transform 0.6s 0.8s,
                    opacity 1s 0.8s,
                    background-color 0.3s,
                    color 0.3s;
      }
  
      &:nth-of-type(3) {
        transition: transform 0.6s 0.6s,
                    opacity 1s 0.6s,
                    background-color 0.3s,
                    color 0.3s;
      }
      
      &:nth-of-type(4) {
        transition: transform 0.6s 0.4s,
                    opacity 1s 0.4s,
                    background-color 0.3s,
                    color 0.3s;
      }
    }

    .close-sidebar {
      cursor: pointer;
      align-self: flex-end;
      padding: 1rem 1rem 0 1rem;
    }

    .close-sidebar > img {
      width: 3rem;
    }
  }
}

/* Main */
main {
  width: 100%;
  gap: 1rem;
}

h1.page-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.4rem;
}

.info {
  align-items: center;
  gap: 1rem;

  .info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .info__title {
      font-size: 1rem;
    }

    .info__text {
      text-align: center;
      font-size: 0.875rem;
    }

    .info__text span {
      display: block;
    }
  }
}

.line {
  width: 50%;
  background-color: var(--main-color);
  height: 6px;
  margin: 0 auto;
  border-radius: 8px;
}

/* Planning section */
.planning {
  grid-auto-columns: 1fr;
  gap: 1rem;

  .planning__title {
    grid-column: 1 / -1;
    margin-block: 2rem 1rem;
    font-family: var(--open-sans-font);
    font-size: 1rem;
    text-align: center;
  }

  .planning__button {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 2rem;
    text-transform: uppercase;
  }
}

.plant-card {
  grid-column: span 3;
  box-shadow: 5px 5px 4px var(--shadow-color);

  display: grid;
  grid-template-rows: 1fr;

  .plant-card__fig {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  > .plant-card__fig img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  > .plant-card__fig .img-overlay {
    width: 50%;
  }

  .plant-card__info {
    display: grid;
    grid-template-areas:
      "title date"
      "user  btn ";
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem 0;
    padding: 0.4rem 0.4rem 0;

    :is(.card-info__title, .card-info__user) {
      font-family: var(--lato-font);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .card-info__title {
      grid-area: title;
      font-size: 0.875rem;
    }

    .card-info__date {
      grid-area: date;
      font-weight: 700;
    }

    .card-info__user {
      grid-area: user;
      color: var(--font-faded-color);
    }

    :is(.card-info__date, .card-info__user) {
      font-size: 0.625rem;
    }
  }
}

.btn-delete {
  grid-area: btn;

  &.btn-trash-can {
    display: flex;
    background-color: white;
    box-shadow: none;
    justify-self: end;
    padding-inline: 1rem 0;

    &:hover svg path {
      transition: all 0.3s;
      fill: var(--btn-card-hover);
    }

    svg {
      width: 1rem;
      height: 100%;
    }
    svg path {
      fill: var(--btn-card);
    }
  }

  &.btn-normal {
    display: none;
    background-color: var(--btn-card);
  }
}

/* Footer */
footer {
  width: 100%;
  padding-top: 3rem;

  .to-top {
    display: flex;
    justify-content: center;
    padding: 1.4rem 2rem;
    text-decoration: none;
    color: var(--font-color);
    transition: all 0.3s;
    font-size: 0.75rem;

    &:hover {
      background-color: var(--main-color);
      color: var(--font-secondary-color);
    }
  }
}

.footer-bg {
  grid-template-areas:
    "logo logo logo logo logo logo"
    "bye  bye  bye  bye  bye  bye ";
  grid-auto-rows: 1fr;

  background-image: url("https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  > figure {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
  }
}

.outro {
  grid-area: bye;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  display: grid;
  grid-template-areas:
    ".       .       .      "
    ".       bye     .      "
    "address address address";
  grid-auto-rows: 1fr;
  align-items: center;
  justify-items: center;

  * {
    color: var(--font-secondary-color);
    font-family: var(--maven-pro-font);
  }

  .outro__title {
    grid-area: bye;
    font-size: 2rem;
    font-weight: 500;
  }

  address.contact {
    grid-area: address;
    font-style: normal;
    align-self: end;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem 1.5rem 1rem;
    font-size: 0.75rem;
  }

  address.contact > :is(.contact__phone, .contact__mail) {
    display: flex;
    align-items: center;
    font-weight: 400;

    img {
      width: 20%;
    }
  }

  address.contact > .contact__mail {
    justify-content: flex-end;
  }

  address > .contact__phone figcaption {
    padding-inline: 0.5rem 0;
  }

  address > .contact__mail figcaption {
    padding-inline: 0 0.5rem;
  }
}

@media screen and (width > 1000px) {
  body {
    padding-bottom: 15%;
  }

  button {
    padding: 1rem 2.4rem;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .content-padding {
    padding: 2rem;
  }

  .circle-bg {
    padding: 6rem;
    transform: scale(1);
  }

  /* Header > grid with images */
  .hero {
    grid-template-areas:
      "hero hero hero brand1 brand1 brand1"
      "hero hero hero brand2 brand2 brand2";

    :is(.hero__img--plant, .hero__img--shovel) img {
      width: 50%;
    }
  }

  /* Header > Nav */
  .nav {
    .nav__burger-menu {
      display: none;
    }

    .nav__links {
      top: 0;
      position: relative;
      flex-direction: row;
      transition: none;
      
      box-shadow: none;

      .nav__link {
        opacity: 1;

        &:not(:last-child) {
          border-bottom: none;
        }
      }

      .nav__link:nth-last-of-type(1),
      .nav__link:nth-last-of-type(2),
      .nav__link:nth-last-of-type(3),
      .nav__link:nth-last-of-type(4) {
        transform: translateY(0);
        transition: background-color 0.3s,
                    color 0.3s;
      }

      .close-sidebar {
        display: none;
      }
    }
  }

  /* Main */
  main {
    gap: 2rem;
  }

  h1.page-title {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .info {
    flex-direction: row-reverse;

    .info__content {
      align-items: start;
      padding-inline: 2rem 0;

      .info__title {
        font-size: 2rem;
      }

      .info__text {
        font-size: 1rem;
        text-align: left;
      }
    }

    .info__content--previous {
      padding-inline: 0 2rem;
    }

    .info__button {
      align-self: flex-end;
    }
  }

  .line {
    width: 33%;
  }

  /* Planning section */
  .planning {
    .planning__title {
      font-family: var(--lato-font);
      font-size: 2rem;
    }

    .planning__button {
      margin-bottom: 2rem;
      text-transform: none;
    }
  }

  .plant-card {
    grid-column: span 2;

    > .plant-card__fig .img-overlay {
      width: 80%;
    }

    .plant-card__info {
      padding: 0.8rem;
      gap: 1.5rem 0;

      .card-info__title {
        font-size: 1.5rem;
      }

      .card-info__date,
      .card-info__user {
        font-size: 1rem;
      }
    }
  }

  .btn-delete {
    &.btn-trash-can {
      display: none;
    }

    &.btn-normal {
      display: inline-block;
      font-size: 0.9rem;
      padding: 0.4rem;
      margin: 0;
      box-shadow: none;

      &:hover {
        background-color: var(--btn-card-hover);
      }
    }
  }

  /* Footer */
  footer {
    .to-top {
      font-size: 1.5rem;
    }
  }

  .footer-bg {
    grid-template-areas:
      "bye bye bye logo logo logo"
      "bye bye bye logo logo logo";

    > figure {
      padding: 10rem 6rem;
    }
  }

  .outro {
    .outro__title {
      font-size: 4rem;
    }

    address.contact {
      font-size: 1.25rem;
    }

    address.contact > :is(.contact__phone, .contact__mail) {
      img {
        width: 40%;
      }
    }
  }
}

/* ########## personal.html ########## */

/* Header */
.hero--personal {
  display: flex;
  flex-direction: column;
  background-image: url("assets/hand_reaching_for_plants.png");
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem 0 2rem;

  .hero__img--personal {
    background-image: none;
  }

  .page-title {
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--maven-pro-font);
    color: var(--font-secondary-color);
    margin-top: 1.4rem;
  }
}

/* Main */
/* Plant add form */
.plant-add {
  .plant-add__title {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.plant-add__form {
  .plant-add__label {
    font-size: 0.75rem;
    display: block;
  }

  .plant-add__input {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 2px 2px var(--shadow-alt-color);
    margin-bottom: 1rem;
  }

  .plant-add__button {
    align-self: center;
  }
}

/* Planning styles are shared from index.html */

/* Planted */
.planted {
  gap: 1rem;

  .planted__title {
    text-align: center;
    font-size: 1rem;
    grid-column: 1 / -1;
    margin-block: 2rem 1rem;
  }
}

/* Footer */
.footer--personal {
  padding-top: 1rem;

  .footer-bg--color {
    background-color: var(--accent-color);
    padding: 1rem;
  }
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 6rem);
  gap: 1rem;

  img {
    grid-column: span 2;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
  }
}

@media screen and (width > 1000px) {
  /* Header */
  .hero--personal {
    padding: 2rem;

    .hero__img--personal {
      img {
        width: 25%;
      }
    }

    .page-title {
      font-size: 2.5rem;
    }
  }

  /* Main */
  /* Plant add form */
  .plant-add {
    margin-bottom: 2rem;

    .plant-add__title {
      font-size: 2rem;
      text-align: left;
    }
  }

  .plant-add__form {
    flex-flow: row wrap;
    gap: 0 2rem;
    justify-content: center;

    .input-wrapper {
      flex: 1 0 48%;
    }

    .plant-add__label {
      font-size: 1.25rem;
    }
  }

  /* Planted */
  .planted {
    .planted__title {
      font-size: 2rem;
      font-family: var(--lato-font);
    }
  }

  /* Footer */
  .footer--personal {
    padding-top: 3rem;
  }

  .grid-gallery {
    grid-template-rows: 1fr;

    img {
      grid-column: span 1;
    }
  }
}
